<h1>Create a new Pet</h1>
<form method="POST" action="/pets/new">
  Name: <input type="text" name="pet_name">
  <input type="submit" id="submit">
</form>

<h2>Choose an Owner</h2>
<% Owner.all.each do |owner| %>
  <% binding.pry %>
  <input type="checkbox" name="owner[:id]" id="<%=owner.id%>" value="<%=pet.id%>"><%=pet.name%></input>
<% end %>
